{% extends "home_page.html" %}
{% block content %}
<h2>Updated news in india</h2><br>
<ul>
    <li><h3><a href="https://indianexpress.com/section/india/">Indian express indian news</a></h3></li>
    <li><h3><a href="https://zeenews.india.com/india">Zee news India news</a></h3></li>
    <li><h3><a href="https://timesofindia.indiatimes.com/india">Times of india - india news </a></h3></li>
    <li><h3><a href="https://www.thehindu.com/news/national/">The Hindu - national news </a></h3></li>
    <li><h3><a href="https://www.ndtv.com/india">NDTV india news</a></h3></li>
</ul>
<br><br><br><br><br><br>
<h2>------Big Screen Everthing under one screen------</h2>
{% endblock %}