{% extends "home_page.html" %}
{% block content %}
<h2>Updated Business news in india</h2><br>
<ul>
    <li><h3><a href="https://timesofindia.indiatimes.com/business/india-business">Times of india </a></h3></li>
    <li><h3><a href="https://economictimes.indiatimes.com/news">Economic times</a></h3></li>
    <li><h3><a href="https://www.financialexpress.com/">Financial express</a></h3></li>
    <li><h3><a href="https://in.finance.yahoo.com/">Yahoo finance</a></h3></li>
    <h3><a href=""></a></h3>
</ul>
<br><br><br><br><br><br>
<h2>------Big Screen Everthing under one screen------</h2>
{% endblock %}