{% extends "home_page.html" %}
{% block content %}
<h2>Updated news around the world</h2><br>
<ul>
    <li><h3><a href="https://www.bbc.com/news/world">BBC World news</a></h3></li>
    <li><h3><a href="https://www.hindustantimes.com/world-news/">Hindustan-Times World news</a></h3></li>
    <li><h3><a href="https://economictimes.indiatimes.com/news/international/world-news">Economic Times world news</a></h3></li>
    <li><h3><a href="https://indianexpress.com/section/world/">Indian express World news</a></h3></li>
    <h3><a href=""></a></h3>
</ul>
<br>
<br><br><br><br><br>
<h2>------Big Screen Everthing under one screen------</h2>
{% endblock %}