{% extends "home_page.html" %}
{% block content %}
<h2>Updated Business news around the world</h2><br>
<ul>
    <li><h3><a href="https://www.bbc.com/news/business">BBC Business news</a></h3></li>
    <li><h3><a href="https://www.cnbc.com/world/">CNBC Business news</a></h3></li>
    <li><h3><a href="https://economictimes.indiatimes.com/news/international/business?from=mdr">Economic times Business news</a></h3></li>
    <li><h3><a href="https://www.ndtv.com/business/">NDTV business</a></h3></li>
    <li><h3><a href="https://www.google.com/finance">Google - Markets and Finance</a></h3></li>
</ul>
<br><br><br><br><br><br>
<h2>------Big Screen Everthing under one screen------</h2>
{% endblock %}