{% extends "home_page.html" %}
{% block content %}
<h2>Updated movie news around the world</h2><br>
<ul>
    <li><h3><a href="https://www.hindustantimes.com/world-cinema/">Hindustan Times</a></h3></li>
    <li><h3><a href="https://www.yahoo.com/entertainment/movies/">Yahoo <movies></movies></a></h3></li>
    <li><h3><a href="https://timesofindia.indiatimes.com/entertainment/english/movie-reviews">Times of india</a></h3></li>
    <li><h3><a href="https://www.imdb.com/">Know about a movie</a></h3></li>
    <li><h3><a href="https://www.imdb.com/calendar/?ref_=nv_mv_cal">IMDB New/Upcoming Releases calender</a></h3></li>
</ul>
<br><br><br><br><br><br>
<h2>------Big Screen Everthing under one screen------</h2>
{% endblock %}